.conversationsList {
  position: fixed;
  width: 475px;
  left: 0;
  right: 0;
  bottom: -10px;
  top: 0;
  margin-top: 60px;
  padding-bottom: 20px;
  overflow-y: scroll;
  text-align: center;
  background:#d7fdf4;
  box-shadow: 7px 0 8px -8px #333;
}

.conversationsList h2 {
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  background: #1DA590;
  color: white;
  padding: 15px 0;
  margin: 20px 0;
}

.conversation-item {
  background: white;
  width: 425px;
  height: 80px;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  padding: 10px 15px;
  margin: 0 0 8px 10px;
  box-shadow: 0.3px 0.3px 4px -1px #ccc, -0.3px -0.3px 4px -1px #ccc;
}

.conversation-item img {
  float: left;
}

.conversation-item:hover {
  background:#b3ebde;
}

.conversation-item span {
  font-size: 24px;
}

.conversation-item #chat-time time {
  margin-top: 5px;
  font-size: 14px;
  float: right;
  color: #767676;
}

.selected-convo {
  background:#1DA590;
}

.selected-convo:hover {
  background:#1DA590;
}

.selected-convo #chat-time time,
.selected-convo #chat-preview {
  color: rgb(243, 243, 243); 
}

.selected-convo span {
  color: white;
}

#chat-preview {
  font-size: 14px;
  color: #767676;
  margin-top: 10px;
  margin-left: 115px;
  text-align: left;
}

.circular-portrait {
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.messages {
  margin: 0 0 0 475px;
  overflow-y: scroll;
  width: 550px;
  position: fixed;
  bottom: 0;
  top: 0;
  padding: 100px 25px 40px 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  clear: both;
  padding: 8px 18px;
  border-radius: 30px;
  margin-bottom: 4px;
}

.them {
  background: #eee;
  float: left;
}

.me {
  float: right;
  background:#1DA590;
  color: #fff;
}

.newMessageForm {
  clear: both;
  float: right;
  margin-top: 50px;
}

.newMessageForm form {
  display: flex;
  width: 90%;
}

.message-input {
  width: 400px;
  padding: 16px 16px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  align-items: center;
  background: #F6F6FA;
  z-index: 5;
}

.message-input:hover {
  border: 1px solid#1DA590;
}

.message-input:focus {
  background: white;
  outline-style: solid;
  outline-width: 2px;
  outline-color:#1DA590;
}

.message-submit {
  font-size: 40px;
  cursor: pointer;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  color:#1DA590;
  transition: background 0.2s, border 0.2s, color 0.2s;
}

.message-submit:hover {
  background: #d4f0e8;
  border: 1px solid#1DA590;
  color: #24745a;
}

.message-submit:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color:#1DA590;
}

.pending-conversation {
  color:#1DA590;
  margin-top: 8px;
  float: right;
}

.message-accept {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  padding: 3px 6px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  color:#1DA590;
  transition: background 0.2s, border 0.2s, color 0.2s;
}

.message-accept:hover {
  background: #d4f0e8;
  border: 1px solid#1DA590;
  color: #24745a;
}

.message-accept:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color:#1DA590;
}

.messages h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 25px;
}


.three-dots {
  margin-top: -15px;
  float: right;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.three-dots:hover {
  color: #d4f0e8;
}

.dropdown-menu-chat {
  position: relative;
  display: inline-block;
  width: 125px;
}

.dropdown-content-chat {
  top: 15px;
  left: 0;
  cursor: auto;
  border-radius: 3px;
  align-items: center;
  position: absolute;
  background-color: white;
  min-width: 300px;
  box-shadow: 0.1px 0.1px 6px 0px #ccc, -0.1px -0.1px 6px 0px #ccc;
}

.no-cursor {
  cursor: auto;
}