.conversationsList {
  margin: auto;
  text-align: center;
  width: 50%;
}

.conversationsList h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 50px;
}

.conversation-item {
  margin: auto;
  width: 500px;
  height: 120px;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  padding: 10px 25px;
}

.conversation-item img {
  float: left;
}

.conversation-item:hover {
  background: #F6F6FA;
}

.conversation-item span {
  font-size: 24px;
}

.conversation-item p {
  color: #767676;
}

.circular-portrait {
  position: absolute;
  width: 125px;
  height: 125px;
  overflow: hidden;
  border-radius: 50%;
}

.messages {
  margin: auto;
  width: 500px;
  display: block;
  overflow: auto;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  padding: 10px 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display:inline-block;
  clear: both;
  padding: 12px 18px;
  border-radius: 30px;
  margin-bottom: 2px;
}

.them {
  background: #eee;
  float: left;
}

.me {
  float: right;
  background: #45dbab;
  color: #fff;
}

.newMessageForm {
  clear: both;
}