.conversationsList {
  margin: auto;
  text-align: center;
  width: 50%;
}

.conversationsList h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 50px;
}

.conversation-item {
  margin: auto;
  width: 500px;
  height: 100px;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  padding: 10px 25px;
}

.conversation-item img {
  float: left;
}

.conversation-item:hover {
  background: #F6F6FA;
}

.conversation-item span {
  font-size: 24px;
}

.conversation-item #chat-time time {
  margin-top: 5px;
  font-size: 14px;
  float: right;
  color: #767676;
}

#chat-preview {
  font-size: 14px;
  color: #767676;
  margin-top: 10px;
  margin-left: 147px;
  text-align: left;
}

.circular-portrait {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.messages {
  margin: auto;
  width: 500px;
  display: block;
  overflow: auto;
  align-items: center;
  border-radius: 16px;
  padding: 10px 25px 100px 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  clear: both;
  padding: 8px 18px;
  border-radius: 30px;
  margin-bottom: 2px;
}

.them {
  background: #eee;
  float: left;
}

.me {
  float: right;
  background: #45dbab;
  color: #fff;
}

.newMessageForm {
  clear: both;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.newMessageForm form {
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.message-input {
  width: 100%;
  padding: 16px 16px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  align-items: center;
  background: #F6F6FA;
  z-index: 5;
}

.message-input:hover {
  border: 1px solid #45dbab;
}

.message-input:focus {
  background: white;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #45dbab;
}

.message-submit {
  font-size: 40px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  color: #45dbab;
  transition: background 0.2s, border 0.2s, color 0.2s;
}

.message-submit:hover {
  background: #d4f0e8;
  border: 1px solid #45dbab;
  color: #24745a;
}

.message-submit:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #45dbab;
}

.pending-conversation {
  color: #45dbab;
  margin-top: 8px;
  float: right;
}

.no-cursor {
  cursor: auto;
}