* {
  color: #222222;
}

.container {
  margin-top: 70px;
}

nav .navbar {
  background: #fff;
}

.navbar-brand a {
  margin-left: 50px;
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: #45dbab;
  font-size: 28px;
}

.navbar-brand a:hover {
  color: #45dbab;
  text-decoration: none;
  color: none;
}

.navbar-nav a {
  font-family: 'Montserrat', sans-serif;
}

.container.signup {
  width: 500px;
}

.btn.btn-primary {
  background: #45dbab;
  border: none;
  color: white;
}

.btn.btn-primary:hover {
  background: #3aba91;
}

.navbar-toggler-icon {
  color: #3aba91;
}

@media screen and (max-width: 844px) {
  nav .navbar-collapse {
    position: fixed;
    top: 66px;
    background: #45dbab;
    right: -100%;
    width: 100vw;
    display: block;
    transition: right 0.2s ease;
  }
  
  nav .navbar-collapse.show {
    right: 0;
  }

  .container.signup {
    width: 100%;
  }

}


