* {
  color: #222222;
  font-family: 'Rubik', sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.navbar a {
  float: left;
  display: block;
  color: #222222;
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  line-height: 28px;
  font-size: 14px;
}

.navbar a:hover {
  background: #f7f7f7;
  border-radius: 15px;
}

a.nav-logo {
  margin-left: 50px;
  margin-right: 20px;
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: #45dbab;
  font-size: 28px;
}

a.nav-logo:hover {
  background: none;
  border-radius: none;
}

#current-user {
  float: right;
  margin-right: 25px;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 70px;
}

.two-column {
  display: flex;
}

.left-column {
  flex: 1;
}

